{% extends 'base.html' %}
{% block title %}
    About RehabHand
{% endblock %}
{% block bd1 %}
    <div class="row">
        <div class="col-sm-3 mt-2">
            <div class="card" style="width: 18rem;">
                <img src="https://www.mica.edu.vn/perso/Vu-Hai/hp.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Hai VU, Ph.D.</h5>
                    <p class="card-text">Associate Professor,
                        Department of Communication Engineering, School of Electronics and Telecommunications,
                        Hanoi University of Science and Technology (HUST)
                        Con-current Post: Computer Vision Department,</p>
                    <a href="http://mica.edu.vn/perso/Vu-Hai/resume.html" class="btn btn-primary">My profile</a>
                </div>
            </div>
            <br>
            <div class="card" style="width: 18rem;">
                <img src="http://www.mica.edu.vn/perso/Le-Thi-Lan/images/Lannew.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Assoc. Prof. Thi-Lan Le </h5>
                    <p class="card-text"> Head of Computer Vision department,
                        International Research Institute MICA
                        Senior lecturer, Department of Electronics and Computer Engineering,
                        School of Electronics and
                        Telecommunications (SET)
                        Hanoi University of Science and Technology (HUST)</p>
                    <a href="http://www.mica.edu.vn/perso/Le-Thi-Lan/" class="btn btn-primary">My profile</a>
                </div>
            </div>
            <br>
            <div class="card" style="width: 18rem;">
                <img src="http://www.mica.edu.vn/perso/Tran-Thi-Thanh-Hai/Images/DHBK_Hai.png" class="card-img-top"
                     alt="...">
                <div class="card-body">
                    <h5 class="card-title">Thanh-Hai Tran </h5>
                    <p class="card-text"> Thanh-Hai Tran graduated an engineer's degree in Information Technology
                        from Hanoi University of Science and Technolgy (HUST) in 2001.
                        She holds a M. S. degree and a Ph.D degree in Imagery Vision Robotic
                        from Grenoble INP in 2002 and 2006 respectively. Currently, she is a lecturer /
                        researcher at MICA-HUST. </p>
                    <a href="http://www.mica.edu.vn/perso/Tran-Thi-Thanh-Hai/" class="btn btn-primary">My profile</a>
                </div>
            </div>

        </div>
        <div class="col-sm-9 mt-2">
            <p>
                Address:
                International Research Institute MICA

                Building B1,
                Hanoi University of Science and Technology (HUST)

                1, Đai Cồ Việt st.
                Hà Nội, Việt Nam
            </p>


            <p>Telephone:
                (+84 4) 3 868 30 87

                Fax:
                (+84 4) 3 868 35 51

                Secretary: secretary@mica.edu.vn </p>
            <a href="http://mica.edu.vn/index.php?option=com_content&view=article&id=75&Itemid=143&lang=en"
               class="link-primary">Our site</a>
            <p> How to reach us?</p>
            <div class="text-center">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.7073246366226!2d105.84438441488297!3d21.004365986011642!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ac76827aaaab%3A0xf0580eb2ff0e1b64!2zVmnhu4duIEPDtG5nIE5naOG7hyBUaMO0bmcgVGluIFRydXnhu4FuIFRow7RuZyAtIMSQ4bqhaSBI4buNYyBCw6FjaCBraG9hIEjDoCBu4buZaQ!5e0!3m2!1svi!2s!4v1608688755679!5m2!1svi!2s"
                        width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""
                        aria-hidden="false" tabindex="0">

                </iframe>
            </div>
        </div>
    </div>

{% endblock %}