{% extends 'base.html' %}
{% block title %}
    About RehabHand
{% endblock %}
{% block bd1 %}
    <p>
        Address:
        International Research Institute MICA

        Building B1,
        Hanoi University of Science and Technology (HUST)

        1, Đai Cồ Việt st.
        Hà Nội, Việt Nam
    </p>


    <p>Telephone:
        (+84 4) 3 868 30 87

        Fax:
        (+84 4) 3 868 35 51

        Secretary: secretary@mica.edu.vn </p>
    <a href="http://mica.edu.vn/index.php?option=com_content&view=article&id=75&Itemid=143&lang=en"
       class="link-primary">Our site</a>
{% endblock %}